@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  margin: 0;
  background: black;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white; }

nav {
  z-index: 16;
  margin: 0;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  top: 0; }

a {
  cursor: pointer; }

h1 {
  color: black;
  font-weight: bold; }

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 64px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.menu {
  font-weight: lighter;
  padding: 0;
  margin: 0 10%;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center; }

@media (max-width: 900px) {
  .checkbtn {
    display: block; }
  .menu {
    display: none; } }

.logo {
  margin-right: auto;
  margin-left: 5%;
  height: 80px; }

.menuitem {
  color: white;
  display: inline-block;
  padding: 30px 30px;
  margin: 0; }

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem; }

.menu_right {
  margin-right: 10%; }

.menuitem:hover, .menuitem.active {
  background-color: white;
  border-bottom: solid 2px #603813;
  transition: all .5s; }

.menuitem.active {
  color: #603813; }

.menuitem:hover {
  color: #603813;
  transition: all .5s; }

.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold; }

.logo img {
  object-fit: contain;
  height: 80px; }

@media (max-width: 1100px) {
  nav {
    height: 60px; }
  .logo {
    font-size: 25px;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto; }
  .menuitem a {
    font-size: 16px; }
  .checkbtn {
    display: block; }
  .menu {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    float: right;
    display: block;
    background: black;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  .menuitem {
    display: block;
    margin: 0;
    line-height: 40px;
    font-size: 20px; }
  .menuclick:hover, .menuclick {
    background: none;
    color: #603813;
    transition: all .5s; }
  #check:checked ~ .menu {
    left: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 200vh;
  margin: 0;
  background: black;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white; }

.main-cont {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-cont .cont {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 600px) {
      .main-cont .cont {
        width: 94%; } }
  .main-cont .main-h {
    text-align: center;
    font-size: 40px;
    color: white; }
    .main-cont .main-h::after {
      content: '';
      background: #603813;
      width: 80%;
      margin: auto;
      display: block;
      height: 2px; }

.chooser-cont {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 600px) {
    .chooser-cont {
      margin: 20px 0; } }
  .chooser-cont .chooser-box {
    display: flex;
    transition: all 0.4s;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    border: #603813 solid 4px;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 50px; }
    @media (max-width: 600px) {
      .chooser-cont .chooser-box {
        width: 40%;
        margin: 5px; } }
    .chooser-cont .chooser-box img {
      filter: invert(100%);
      width: 90px;
      height: 90px; }
      @media (max-width: 900px) {
        .chooser-cont .chooser-box img {
          width: 50%;
          height: auto; } }
    .chooser-cont .chooser-box div {
      font-size: 20px;
      margin-top: 20px;
      text-align: center; }
    @media (min-width: 900px) {
      .chooser-cont .chooser-box:hover {
        transform: scale(1.1); } }

.sub-h {
  text-align: center;
  font-size: 30px;
  color: white;
  width: fit-content;
  padding-bottom: 20px; }
  .sub-h::after {
    content: '';
    background: #603813;
    width: 80%;
    margin: auto;
    display: block;
    height: 2px; }

.am-h {
  margin-top: 20px;
  font-size: 22px;
  text-transform: uppercase;
  position: relative; }
  .am-h .main {
    max-width: 40%;
    min-height: 30px; }
    .am-h .main.only-one {
      max-width: 80%; }
      @media (max-width: 600px) {
        .am-h .main.only-one {
          max-width: 60%; } }
    .am-h .main.zero {
      max-width: 100%; }
  .am-h .am1 {
    position: absolute;
    right: 30%;
    bottom: 0; }
  .am-h .am2 {
    position: absolute;
    right: 20px;
    bottom: 0; }

.type-h {
  font-size: 16px;
  background: #a28e74;
  width: fit-content;
  padding: 7px;
  margin: 8px;
  text-transform: uppercase;
  border-radius: 15px;
  margin-top: -10px;
  transform: translate(0, 20px); }

.menu-cont {
  background: #603813;
  min-height: 300px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 100px;
  z-index: 2; }
  .menu-cont.shi {
    margin-bottom: 20px; }

.item-wrapper {
  background: #674929;
  padding: 10px;
  border-radius: 25px;
  margin: 10px 0; }

.menu-item {
  margin: 5px 0;
  position: relative;
  font-size: 16px; }
  @media (max-width: 600px) {
    .menu-item {
      font-size: 14px; } }
  .menu-item .name {
    max-width: 60%; }
    @media (max-width: 600px) {
      .menu-item .name {
        max-width: 40%; } }
    .menu-item .name.only-one {
      max-width: 80%; }
      @media (max-width: 600px) {
        .menu-item .name.only-one {
          max-width: 60%; } }
    .menu-item .name.zero {
      max-width: 100%; }
  .menu-item .price1 {
    position: absolute;
    top: 0;
    right: 30%; }
  .menu-item .price2 {
    position: absolute;
    top: 0;
    right: 20px; }
    @media (max-width: 600px) {
      .menu-item .price2 {
        right: 5px; } }
  .menu-item .bonus-info {
    max-width: 60%;
    color: #8d6a48;
    font-size: 13px; }

.setup-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  @media (max-width: 900px) {
    .setup-cont {
      flex-direction: column; } }
  .setup-cont.two {
    margin-top: 60px; }
  .setup-cont .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2; }
    @media (max-width: 900px) {
      .setup-cont .item {
        flex-direction: row-reverse;
        align-self: flex-start;
        width: 100%; } }
    @media (max-width: 450px) {
      .setup-cont .item {
        width: 100%; } }
    .setup-cont .item .h {
      padding: 10px;
      color: black;
      font-size: 15px;
      margin: 10px;
      text-transform: uppercase;
      font-weight: bold; }
      .setup-cont .item .h.white {
        background: #D8D9DA; }
      .setup-cont .item .h.red {
        background: #B31E3F; }
      .setup-cont .item .h.yellow {
        background: #C68946; }
      .setup-cont .item .h.purple {
        background: #642E8C; }
    .setup-cont .item img {
      margin: 10px;
      object-fit: cover;
      width: 100%;
      height: auto; }
      @media (max-width: 900px) {
        .setup-cont .item img {
          width: 60%; } }
      @media (max-width: 600px) {
        .setup-cont .item img {
          margin-right: auto; } }
    .setup-cont .item .price {
      position: absolute;
      background: #412715;
      padding: 10px;
      bottom: 0;
      right: 10px; }
      @media (max-width: 900px) {
        .setup-cont .item .price {
          bottom: 40px; } }
  .setup-cont .text {
    font-size: 23px;
    flex: 1;
    color: #A97B50;
    text-align: center; }
    @media (max-width: 900px) {
      .setup-cont .text {
        margin: 10px; } }

.flavors-and-bonus-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  @media (max-width: 900px) {
    .flavors-and-bonus-cont {
      flex-direction: column; } }
  .flavors-and-bonus-cont .flavors-cont {
    flex: 2; }
    @media (max-width: 900px) {
      .flavors-and-bonus-cont .flavors-cont {
        align-self: flex-start;
        padding-bottom: 20px; } }
    .flavors-and-bonus-cont .flavors-cont .flavors {
      font-size: 15px;
      margin-bottom: 5px;
      text-transform: uppercase; }
  .flavors-and-bonus-cont .bonus-cont {
    flex: 3;
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 450px) {
      .flavors-and-bonus-cont .bonus-cont {
        flex-direction: column; } }

.bonus-item {
  display: flex;
  width: 47%;
  text-transform: uppercase;
  font-weight: bold;
  position: relative; }
  @media (max-width: 450px) {
    .bonus-item {
      width: 100%; } }
  .bonus-item img {
    width: 60%;
    padding: 10px;
    height: auto;
    object-fit: contain; }
    @media (max-width: 450px) {
      .bonus-item img {
        width: 45%; } }
  .bonus-item .heading {
    font-size: 17px; }
  .bonus-item .price {
    position: absolute;
    font-size: 17px;
    background: #412715;
    padding: 7px;
    border-radius: 14px;
    right: 10px;
    bottom: 10px; }
  .bonus-item .small .heading {
    font-size: 17px;
    position: relative; }
    .bonus-item .small .heading .price {
      position: absolute;
      font-size: 17px;
      background: #412715;
      padding: 7px;
      border-radius: 14px;
      left: 0;
      right: auto;
      bottom: -40px; }

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mt {
  margin-top: 60px; }

.mb {
  margin-bottom: 40px; }

.shisha-item {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative; }
  .shisha-item ~ .shisha-item::before {
    content: '';
    background: #A97B50;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px; }
  .shisha-item .s-img {
    padding: 10px;
    object-fit: contain;
    width: 40%;
    margin-right: 30px; }
    @media (max-width: 900px) {
      .shisha-item .s-img {
        display: none; } }
  .shisha-item .cont-sh .s-cont {
    margin-bottom: 20px; }
    .shisha-item .cont-sh .s-cont .heading {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 19px;
      margin-bottom: 10px; }
    .shisha-item .cont-sh .s-cont .text {
      font-size: 15px; }
    .shisha-item .cont-sh .s-cont .s-img-m {
      width: 100%;
      padding: 10px;
      object-fit: contain;
      display: none; }
      @media (max-width: 900px) {
        .shisha-item .cont-sh .s-cont .s-img-m {
          display: block; } }
  .shisha-item .cont-sh .h-cont .heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px; }
  .shisha-item .cont-sh .h-cont .text {
    font-size: 15px; }
  .shisha-item .cont-sh .h-cont .h-img {
    object-fit: contain;
    width: 50%;
    padding-top: 10px; }
    @media (max-width: 900px) {
      .shisha-item .cont-sh .h-cont .h-img {
        padding: 10px;
        width: 100%; } }
  .shisha-item.right {
    flex-direction: row-reverse; }
    .shisha-item.right .s-img {
      margin-right: 0;
      margin-left: 30px; }
